name: Sync Wiki

on:
  push:
    branches:
      - main
    paths:
      - 'wiki/**'

permissions:
  contents: write

jobs:
  update-wiki:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Sync to Wiki
        uses: Andrew-Chen-Wang/github-wiki-action@v4
        with:
          path: wiki/
          repository: ${{ github.repository }}
          token: ${{ secrets.WIKI_TOKEN || secrets.GITHUB_TOKEN }}
