name: Sync Wiki

on:
  push:
    branches:
      - main
    paths:
      - 'wiki/**'

permissions:
  contents: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  update-wiki:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout Repo
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Sync to Wiki
        uses: Andrew-Chen-Wang/github-wiki-action@50650fccf3a10f741995523cf9708c53cec8912a # v4
        with:
          path: wiki/
          repository: ${{ github.repository }}
          token: ${{ secrets.GITHUB_TOKEN }}
